.hero {
    display: grid;
}

.hero img {
    width: 80%;
    margin: auto;
}

.gala > div{
    display: grid;
    gap: 2rem 6rem;
    grid-template-columns: 1fr 1fr;
}

.gala > div > div p {
    margin-bottom: 2rem;
}

.gala img {
    width: 100%;
}

.rules > div {
    display: grid;
    gap: 6em;
    grid: auto 1fr / 1fr 1fr;
}

.rules h3 {
   margin-bottom: 2rem;
}

.rules p {
    width: 75%;
    border-left: 0.25rem solid;
    border-image: linear-gradient(180deg, #FDF8C1 0.18%, #FFE996 35.57%, #A47528 48.72%, #FFE996 63.51%, #FDF8C1 100%) 1;
    padding: 1rem;
}

.winners > div {
    display: grid;
    gap: 2rem;
    grid: 1fr / repeat(auto-fit, minmax(5rem, 1fr));
    text-align: center;
}

.winners img {
    width: 100%;
    margin-bottom: 2rem;
}

.partners > div {
    display: grid;
    gap: 1rem;
    grid-template-areas: "redlight redlight redlight redlight celfocus empty empty empty empty empty"
                        "redlight redlight redlight redlight celfocus empty empty empty empty empty"
                        "redlight redlight redlight redlight celfocus empty empty empty empty empty"
                        "redlight redlight redlight redlight celfocus empty empty empty empty empty"
                        "redlight redlight redlight redlight celfocus empty empty empty empty empty"
                        "redlight redlight redlight redlight celfocus empty empty empty empty empty"
                        "redlight redlight redlight redlight celfocus empty empty empty empty empty"
                        "redlight redlight redlight redlight critical critical critical imaginary imaginary imaginary"
                        "redlight redlight redlight redlight critical critical critical imaginary imaginary imaginary"
                        "oreyeon oreyeon feedzai feedzai bit bit ubiwhere ubiwhere esa esa"
                        "oreyeon oreyeon feedzai feedzai bit bit ubiwhere ubiwhere esa esa";
    margin-bottom: 2rem;
}

.partners > div > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid;
    border-image: linear-gradient(180deg, #FDF8C1 0.18%, #FFE996 35.57%, #A47528 48.72%, #FFE996 63.51%, #FDF8C1 100%) 1;
    background-color: white;
    box-sizing: border-box;
}

.partners img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.redlight {
    grid-area: redlight;
}

.celfocus {
    grid-area: celfocus;
}

.critical {
    grid-area: critical;
}

.imaginary {
    grid-area: imaginary;
}

.oreyeon {
    grid-area: oreyeon;
}

.feedzai {
    grid-area: feedzai;
}

.bit {
    grid-area: bit;
}

.ubiwhere {
    grid-area: ubiwhere;
}

.esa {
    grid-area: esa;
}

.empty {
    grid-area: empty;
}

.empty2 {
    grid-area: empty2;
}

.empty3 {
    grid-area: empty3;
}

@media only screen and (max-width: 950px) {
    .gala > div{
        gap: 2rem;
        grid-template-columns: 1fr;
    }

    .rules > div {
        gap: 2rem;
        grid: auto auto auto 1fr / 1fr;
    }

    .rules h3 {
        margin-bottom: 1rem;
     }

    .winners > div {
        grid: auto auto auto 1fr / 1fr;
    }

    .partners > div {
        grid-template-areas: "redlight redlight redlight redlight redlight redlight redlight redlight redlight redlight"
                            "critical critical critical critical critical imaginary imaginary imaginary imaginary imaginary"
                            "oreyeon oreyeon oreyeon feedzai feedzai feedzai esa esa esa empty"
                            "bit bit bit ubiwhere ubiwhere ubiwhere empty2 empty2 empty2 empty"
                            "celfocus celfocus empty3 empty3 empty3 empty3 empty2 empty2 empty2 empty"
    }
  }