.gala-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.gala-info-text {
    width: 45%;
    height: 42vh;
}

.segundo-paragrafo {
    padding-top: 2%;
}

.foto-grupo {
    height: 46vh;
}

.flex-cont-criterios {
    padding-left: 3em;
    display: flex;
    justify-content: space-around;
}

.title-criterios {
    padding-left: 2.8em;
}

.criterios {
    display: grid;
    grid: 1fr 1fr/ 1fr 1fr;
    gap: 5rem 6em;
}

.criterio p {
    width: 75%;
    border-left: 3px solid #d8c376;
    padding-left: 1rem;
}

.criterio>img {
    margin-bottom: 2%;
}

.vencedores-anteriores>p {
    padding-left: 1.1em;
    font-size: 300%;
    padding-bottom: 1em;
    align-self: flex-start;
}

.vencedores {
    display: grid;
    grid: 1fr/ repeat(4, 1fr);
    width: 92%;
}

.vencedores img, .vencedores>p {
    width: 75%;
    text-align: center;
}

.partners>img {
    margin-bottom: 3em;
}

.parceiros {
    display: grid;
    align-content: left;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(6, 50px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.div1 {
    grid-area: 1 / 1 / 5 / 5;
}

.div2 {
    grid-area: 1 / 5 / 2 / 6;
}

.div3 {
    grid-area: 2 / 5 / 5 / 8;
}

.div4 {
    grid-area: 2 / 8 / 5 / 11;
}

.div5 {
    grid-area: 5 / 1 / 7 / 3;
}

.div6 {
    grid-area: 5 / 3 / 7 / 5;
}

.div7 {
    grid-area: 5 / 5 / 7 / 7;
}

.div8 {
    grid-area: 5 / 7 / 7 / 9;
}

.div9 {
    grid-area: 5 / 9 / 7 / 11;
}

.parceiros img {
    width: 100%;
}

.partners1{
    height: 50vh;
}

.partners1>img{
    margin-bottom: 48px;
    margin-top: 76px;
}

