.background {
    background: #000000;
}

.title {
    margin-top:18.1vh;
    text-align: center;
    margin-bottom: -3vh;
}
.subtitle{
    text-align: center;
}

.logo {

    width: 809px;
    height: 303px;
    left: 314px;
    top: 176px;

    background: url(logo.png);
}

.xx-edicao {

    width: 395px;
    height: 99px;
    left: 522px;
    top: 100px;

    background: url(XXEdição1.png);
}








.content-gala {
    margin-left: 16vh;
    margin-top: 32vh;
    display: flex;
    justify-content: space-around;
}

.primeiro-paragrafo {

    width: 467px;
    left: 243px;
    top: 986px;
    margin-right: 0;
    margin-bottom: 6vh;

    font-family: Frank Ruhl Hofshi;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #E9DBA8;
}

.segundo-paragrafo {

    width: 473px;
    height: 264px;
    left: 243px;
    top: 1211px;

    font-family: Frank Ruhl Hofshi;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #E9DBA8;
}

.imagem-grupo {
    margin-right: 20vh;
    margin-top: 9.5vh;
}

.foto-grupo {

    width: 466px;
    height: 374px;
    left: 852px;
    top: 986px;

    background: url(fotogrupo.jpg);
}













.content-criterios {
    margin-left: 25.2vh;
    justify-content: space-around;
    margin-top: 20vh;
   
    
}
.imagem-criterios{
    justify-content: space-around;
    margin-left: 6.1vh;
}

.criterios {

    width: 200.43px;
    height: 60px;
    left: 243px;
    top: 1600px;

    background: url(Critérios.png);
}

.grelha-linha1, .grelha-linha2{
    display: flex;
    margin-left: 1vh;
    margin-top: 10vh;
}

.docente{
    margin-left: 35vh;
}
.flex{
    margin-top: 3.6vh;
    display: flex;
}
.nome-docente{  
    margin-left: 5.2vh; 
}

.docente-ano, .funcionario-ano , .personalidade-ano {

    width: 241.13px;
    height: 40px;
    left: 733px;
    top: 1771px;

    background: url(DocentedoAno.png);
}
.personalidade-ano{
    width: 329.93px;

}

.funcionario-ano{
    width: 299.86px;
}

.line-docente{
    margin-left: 5.5vh;
    width: 3px;
    margin-top: 0.5vh;
}

.linha-docente, .linha-caloiro, .linha-funcionario, .linha-personalidade {

    width: 3px;
    height: 170px;
    left: 733px;
    

    background: url(linha.png);
    transform: matrix(1, 0, 0, 1, 1, 1);
}
.linha-personalidade{
    height: 147px;
}
.linha-caloiro{
    height: 146px;
}
.linha-funcionario{
    height: 170px;
}

.p-docente{
    margin-left: 1.5vh;

   
}
.paragrafo-docente {

    width: 342px;
    height: 183px;
    left: 756px;
    margin-top: 0;

    font-family: Frank Ruhl Hofshi;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #E9DBA8;
}













.vencedores-anteriores{
    margin-left: 31.8vh;
    justify-content: space-around;
    margin-top: 20vh;
}

.titulo-vencedores{
    
    width: 529px;
    height: 46px;
    left: 223px;
    top: 2510px;

    font-family: Frank Ruhl Hofshi;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;

    color: #E9DBA8;
}
.flex-imagens{
   
    display: flex;
}

.sofia-meireles{
    
    width: 300px;
    height: 300px;
    left: 223px;
    top: 2583px;
}

.ernesto-costa{
    width: 300px;
    height: 300px;
    left: 223px;
    top: 2583px;

}

.dona-joana{
    width: 300px;
    height: 300px;
    left: 223px;
    top: 2583px;

}

.manuel-matos{
    width: 300px;
    height: 300px;
    left: 223px;
    top: 2583px;

}